@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@font-face {
  font-family: "ChronicleDisp-Roman";
  font-display: swap;
  src: url("../fonts/file_name.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy_ExtraBold";
  font-display: swap;
  src: url("../fonts/file_name.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy_Light";
  font-display: swap;
  src: url("../fonts/file_name.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: ChronicleDisp-Roman;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.about-item {
  margin-right: 40px;
  text-decoration: none;
  color: #ffffff;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.user-icon {
  margin-right: 6px;
}

.title {
  margin-top: 128px;
  padding-bottom: 809px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .nets {
  display: none;
}

.nets-text {
  margin-left: -27px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.header .nets-text {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nets-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 26px;
}

.net-icon {
  margin-top: 22px;
}

.title-title {
  font-family: ChronicleDisp-Roman;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 0;
}

.title-pretitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pretitle-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  margin-left: 32px;
}

.rectangle {
  height: 2px;
  width: 72px;
  background: #fbd784;
}

.scr-number {
  padding-right: 32px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  border-right: #c4c2c2 solid;
}

.scr-active {
  border-right: #ffffff solid;
}

.title-scr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.title-scr {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-right: 16px;
}

.point-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
}

.point-cart:first-child {
  position: relative;
  margin-top: -300px;
  background-color: none;
}

.cart-text {
  margin-top: 110px;
  margin-right: 141px;
  z-index: 2;
  position: relative;
  margin-left: -100px;
}

.point-cart:nth-child(2) .cart-text {
  margin-left: 141px;
  margin-right: 0;
}

.cart-title {
  font-family: ChronicleDisp-Roman;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 33px;
}

.cart-paragragh {
  max-width: 632px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 27px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fbd784;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-span {
  margin-right: 16px;
  margin-top: -5px;
}

.big-number {
  font-style: normal;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  color: #ffffff;
  opacity: 0.1;
  position: relative;
  z-index: 1;
}

.big-number:nth-child(2) {
  margin-right: -250px;
  margin-left: 114px;
}

.company-description {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.rights {
  margin-top: 122px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}

.left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-footer-title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fbd784;
}

.about-footer-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}

.about-footer-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-footer-blog:first-child {
  margin-right: 212px;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #ffffff;
  background: #0b1d26;
}

.header {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 66px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), to(#0b1d26)), url(./../img/bg_hero.jpg);
  background: -o-linear-gradient(top, rgba(11, 29, 38, 0) 0%, #0b1d26), url(./../img/bg_hero.jpg);
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26), url(./../img/bg_hero.jpg);
  background-size: cover;
}

.content {
  max-width: 1760px;
  margin: auto;
}

.main {
  margin-top: 0px;
}

.footer {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1462px;
}

@media (max-width: 1072px) {
  .header .nets {
    display: none;
  }

  .footer .nets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .nets-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .footer .net-icon {
    margin: 0;
    margin-left: 10px;
  }

  .footer .nets-text {
    margin: 0;
  }

  .scrolling {
    display: none;
  }

  .point-img {
    display: none;
  }

  .point-cart:nth-child(2) .cart-text {
    margin-left: 141px;
    margin-right: 0px;
  }

  .big-number:nth-child(2) {
    margin-left: 0px;
  }

  .cart-text {
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .about-item {
    margin-right: 20px;
  }

  .title-title {
    text-align: center;
  }

  .title-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .rectangle {
    display: none;
  }
}

@media (max-width: 810px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .left-part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 560px) {
  .right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-footer-blog:first-child {
    margin-right: 0px;
  }

  .about-footer-blog {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  .hamburger-menu {
    display: inline;
  }

  .about {
    display: none;
  }

  .user {
    display: none;
  }

  .title-title {
    font-size: 66px;
    line-height: 100px;
  }
}

.webp .header{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), to(#0b1d26)), url(./../img/bg_hero.webp); }

.webp .header{ background: -o-linear-gradient(top, rgba(11, 29, 38, 0) 0%, #0b1d26), url(./../img/bg_hero.webp); }

.webp .header{ background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26), url(./../img/bg_hero.webp); }